.inputNotValid{
    border : 1px solid red;
}
label{
    text-align: right;
    display: block;
}
.errorMessage{
    color : red;
    textAlign : center;
    marginLeft: 5px;
    display: block;
    text-align: right;
}
.form-control{
    text-align: right;
}
.react-datetime-picker__button__input__input{
    min-width: calc(10px + 0.54em);
}